.motos-carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
}

.carousel-btn {
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    font-size: 2rem;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.carousel-btn:hover {
    background: rgba(0,0,0,0.85);
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}


.motos-carousel {
    max-width: calc(300px * 3 + 24px * 2);
    overflow: hidden;
    margin: 0 auto;
}


.motosTrack {
    display: flex;
    gap: 24px;
    transition: transform 0.4s ease;
}

.moto-card {
    margin-top: 20px;
    width: 100%;
    min-width: 260px;
    max-width: 300px;
    background: #fafafa;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.moto-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.35);  
}

.moto-card:hover img {
    transform: scale(1.15);

}

.moto-img {
    width: 100%;
    height: 180px;
    background: #fafafa;
    overflow: hidden;
}

.moto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease .6s;
}

.moto-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.moto-info h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2a2a2a;
}

.moto-year {
    font-size: 0.9rem;
    color: #94a3b8;
}

.moto-motor {
    font-size: 0.9rem;
    color: #94a3b8;
}

.moto-price {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #38bdf8;
}


@media (max-width:768px) {
    .motos-carousel {
        max-width: calc(300px * 2 + 24px * 1);
    }
}

@media (max-width:360px) {
    .motos-carousel {
        width: 300px;
    }
}