header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 9990;
    transition: all .3s;
    padding: 4px 0;
    height: 90px;
    width: 100%;
    color: #fafafa;
    padding-top: 4px;
    padding-bottom: 4px;
}

header .scroll-active {
    background-color: #2b2b2ba2;
    backdrop-filter: blur(md);
    box-shadow: 0 1px 2px #2b2b2b;
    padding-top: 2px;
    padding-bottom: 2px;
}


.items-header {
    margin: auto;
    padding: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.items-header a img {
    min-height: 50px;
    width: 150px;
    flex-shrink: 0;
}

.nav-header ul {
    display: flex;
    gap: 20px;
    text-align: center;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    align-items: center;
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 1.3rem;
    margin-right: 30px;
}

.btn-hamburger {
        display: none;
}

.nav-item {
    transition:ease-out .3s;
    position: relative;
    text-decoration: none;
}

.nav-item:hover {
    color: #fa2525;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);;
}

.nav-item:hover::after,
.nav-item.active::after {
    width: 100%;
}


.btn-header {
    margin: 4px;
    box-sizing: border-box;
    background-color: #fa2525;
    border: 1px solid #fa2525;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    transition: ease .3s;
}

.btn-header:hover {
    box-shadow: 0 0px 10px #fa2525;
}


@media (max-width: 768px) {

    header { 
        width: 100%;
    }

    .items-header {
        flex-wrap: wrap;
    }

    .theme-switch {
        margin-left: auto;
    }

    .btn-hamburger {
        margin-left: auto;
    }

    .nav-header {
        position: fixed;
        top: 0;
        right: -110%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #2b2b2b;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out;
        z-index: 2000;
    }

    .nav-header.active {
        right: -30px;
    }

    .btn-hamburger {
        display: block;
        padding: 10px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 9999;
    }

    .btn-hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 6px 0;
        background-color: #f2f2f2;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .btn-hamburger.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .btn-hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .btn-hamburger.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-header ul {
        flex-direction: column;
        gap: 25px;
    }

    .nav-header li + li {
        border-top: 1px solid #fafaaa;
        padding-top: 15px;
    }
}